  body {
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-position: center;
    /* background bestand wordt gespecifieerd op de pagina's zelf */
  }

  #main {
    max-width: 1100px;
    border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
  }

  .ownerpic {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: #1b2021 2px solid;
    max-width: 150px;
  }

  /* carousel */

  #myCarousel .large {
    display: flex;
    max-height: 700px;
  }

  .carousel-indicators {
    position: relative;
    margin: auto;
    width: 100%;
  }

  .carousel-indicators li {
    text-indent: 0;
    display: inherit;
    float: left;
    width: 10%;
    height: 100px;
    margin: 5px 0px;
    background-color: transparent;
    opacity: 0.8
  }

  .carousel-indicators li img {
    width: 95%;
    height: 100px;
    border: 2px solid #a6a867;
    padding: 2px;
  }

  .carousel-indicators .active img {
    border: 2px solid #1b2021;
  }

  .carousel-indicators .active {
    margin: 5px 0px;
    width: 10%;
    height: 100px;
  }

  .carousel-control-prev, .carousel-control-next {
    position: static;
    align-items: start;
    background-image: none;
    font-size: 2rem;
    color: #1b2021;
    z-index: 100;
    margin: 0;
    padding: 0;
  }

  .carousel-inner {
    height: 600px;
  }

  .carousel-item {
    margin: 0 auto;
  }

  @media screen and (max-width:680px) {
    .carousel-indicators {
      display: none;
    }
    .carousel-inner {
      height: 300px;
    }
  }

  /* ------------------------------- Kleurschema ----------------------------- */

  body {
    color: #1B2021;
  }

  #main {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  .card {
    background-color: transparent;
  }

  nav.bg-dark, footer.bg-dark {
    background-color: #51513D !important;
    color: #eaefd3 !important;
  }

  #afspraak .btn, #afspraak button {
    background-color: #a6a867;
    color: #1b2021;
    border: #1b2021 2px solid;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
  }

  #afspraak .btn:hover {
    background-color: #51513D;
    color: white;
  }