  body {
      background-color: white;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-clip: padding-box;
      background-size: cover;
      background-position: center;
      /* background bestand wordt gespecifieerd op de pagina's zelf */
  }

  .card {
      background-color: rgba(255, 255, 255, 0.3);
  }