a:link {color:#8bbe3c;}
a:visited {color:#8bbe3c;}
a:hover {color:#78a333;}
a:active {color:#78a333;}
.Wp-Artistieke-tekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Citaat-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Genummerde-lijst-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-12.0px;
}
.Wp-Hoofdtekst-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Hoofdtekst-2-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Hyperlink-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Hyperlink-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
a.Wp-Hyperlink-1-P-H:link {color:#ffffff;}
a.Wp-Hyperlink-1-P-H:visited {color:#ffffff;}
a.Wp-Hyperlink-1-P-H:hover {color:#78a333;}
a.Wp-Hyperlink-1-P-H:active {color:#ffffff;}
.Wp-Ingesprongen-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400;
}
.Wp-Kop-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-2-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-3-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-4-P
{
    margin:20.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-5-P
{
    margin:16.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop-6-P
{
    margin:12.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Kop--en-voettekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Koppen-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Koptekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Lijst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Lijst-met-opsommingstekens-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Lijsten-P
{
    margin:0.0px 0.0px 0.0px 24.0px; text-align:left; font-weight:400;
}
.Wp-Logotekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normaal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 13.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Notitie-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Nummer-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Ondertitel-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Sterk-citaat-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Subkop-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Subkop-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Tabeltekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Tekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Telefoonnummer-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Titel-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Voettekst-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-heading-3-P
{
    margin:7.0px 0.0px 7.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Code-C
{
    font-family:"Courier New", monospace;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Times New Roman", serif;
}
.Wp-Nadruk-C
{
    font-family:"Times New Roman", serif; font-style:italic;
}
.Wp-Plaatshouder-C
{
    font-family:"Times New Roman", serif;
}
.Wp-Standaardalinealettertype-C
{
    font-family:"Times New Roman", serif;
}
.Wp-Sterk-C
{
    font-family:"Times New Roman", serif; font-weight:700;
}
.Wp-Sterke-nadruk-C
{
    font-family:"Times New Roman", serif; font-style:italic; font-weight:700;
}
.Wp-Sterke-verwijzing-C
{
    font-family:"Times New Roman", serif; font-style:italic; font-weight:700; font-variant:small-caps;
}
.Wp-Trefwoord-C
{
    font-family:"Courier New", monospace; font-weight:700;
}
.Wp-Verwijzing-C
{
    font-family:"Times New Roman", serif; font-variant:small-caps;
}
.Wp-tekst-c-C
{
    font-family:"Times New Roman", serif;
}